{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2 class="title">{{ object.name }}</h2>
  <h3>Description: {{ object.description }}</h3>
  <br>
  <h3 class="title">Questions</h3>
  {% for q in open_ended_questions.all %}
    <strong>{{ q.text }}</strong>
    <br>
    {% for a in q.openendedanswer_set.all %}
      <p>Response: {{ a.response }}</p>
      <p>Submitted by: {{ a.user }}</p>
      <br>
    {% endfor %}
    <a href="{% url 'missions:add_answer' question_id=q.id %}">Provide an Answer</a>
    <br><br>
  {% endfor %}
  {% for r in rating_questions.all %}
    <strong>{{ r.text }}</strong>
    <br>
    {% for a in r.ratinganswer_set.all %}
      <p>Response: {{ a.response }}</p>
      <p>Submitted by: {{ a.user }}</p>
      <br>
    {% endfor %}
    <a href="{% url 'missions:add_rating_answer' question_id=r.id %}">Provide an Answer</a>
    <br><br>
  {% endfor %}
  <br>
  <a href="{% url 'missions:add_question' mission_id=object.id %}">Add an Open Ended Question</a>
  <br>
  <a href="{% url 'missions:add_rating_question' mission_id=object.id %}">Add a Rating Question</a>
  <br><br>
  <a href="{% url 'missions:index' %}">Back to All Missions</a>
{% endblock %}
